.lists {
  margin-left: 20px;
  margin-right: 20px;
}
.poster {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.image {
  width: 300px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Angeline_Vintage';
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}
.links {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.a {
  padding: 10px 20px;
  text-decoration: none;

  background-color: rgba(250, 215, 248, 0.495);
  border-radius: 10px;
  color: white;
}
.link {
  font-size: 30px;
  font-family: 'Angeline_Vintage';
}
.title {
  display: flex;
  font-size: 30px;
  font-family: 'Angeline_Vintage';
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: rgb(255, 196, 243);
  margin-bottom: 10px;
}
