.title {
  display: flex;
  font-size: 30px;
  font-family: 'Angeline_Vintage';
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: rgb(255, 196, 243);
  margin-bottom: 10px;
}
.reviews {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 40px;
}
